/aeroscope/plot_files_os/.ipynb_checkpoints/
/aeroscope/plot_files/.ipynb_checkpoints/
/aeroscope/logo/.ipynb_checkpoints/
/aeroscope/graphs/
/aeroscope/data/.ipynb_checkpoints/
/aeroscope/.ipynb_checkpoints/
