/aeroscope_app/plot_files_os/.ipynb_checkpoints/
/aeroscope_app/plot_files/.ipynb_checkpoints/
/aeroscope_app/logo/.ipynb_checkpoints/
/aeroscope_app/graphs/
/aeroscope_app/data/.ipynb_checkpoints/
/aeroscope_app/.ipynb_checkpoints/
